* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f2f8;
  color: #0c0c0c;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p , .about-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 2rem 0;
  
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: 1rem 0;
}
.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header,
footer {
  background: #26616b;
  color: #fffbff;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 1rem 4rem;
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.logo,
.header-nav a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav {
  margin-right: 2rem;
}

.header-nav ul,
footer .footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-list li {
  padding: 1rem;
}

.footer-list img {
  width: 5rem;
  padding: 0.5rem;
}

.text-secondary {
  color: #2b220f;
   padding: 1rem;

}

.Descripcion-inicio {
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */
.inicio , .about, .contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.inicio h1 {
  width: 100%;
  text-align: center;
}


.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: #dadbbd; 
  width: 100%;
  max-width: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
 padding-bottom: 2rem;
}

.tarjeta p {
  text-align: center;
  padding: 0 2rem;
}

.tarjeta img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */
.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-title{
  margin: 2rem 0;
}

.contacto-form {
  background-color: #dadbbd;
  color: #080808;

  width: 100%;
  max-width: 50rem;

  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* sutil */
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.grupo-input input,
.grupo-input textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;

  color: #2a1e35;
  background-color: #fff7fb;

  border: 2px solid #6e5a8e;
  border-radius: 0.8rem;

  outline: none;
}

.grupo-input textarea {
  min-height: 10rem;
  resize: vertical;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
  }

  .header-nav,
  .div-logo {
    margin: 0;
  }
}